/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 12px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.arrow {
	display: inline;
	position: absolute;
	z-index:5000;
	top: 38%; 
}

.basecamp {
	left: 25%;
}

.bottom_line {
	position: relative;
	top: 40px;
	width: 100%;
}


.bottom_line p {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 10px;
	color: #999;
}

.bottom_line p a {
	text-decoration: none;
	margin: 0 4px 0 4px;
	color: #369;
}

.campfire {
	right: 29%;
}

.date {
	display: inline-block;
	float: left;
	position: relative;
	left: 3%;
	top: 40px;
	color: #999;
	font-size: 13px;
}

footer ul {
	width: 100%;
	text-align: center;
	position: relative;
	top: 40px;
}

footer ul lh { 
	color: red;
	font-size: 14px;
	font-weight: bold;
}

footer ul li {
	margin: 20px 0 20px 0;
	color: #369;
}

heading {
	position: relative;
	top: 10px;
	width: 100%;
}

heading img {
	display: block;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.highrise {
	right: 40%;
}

hr {
	position: relative;
	top: 20px;
	width: 80%;
	height: 15px;
	border: 0;
	background: url('http://37signals.com/images/img-hr.png') no-repeat center
}


#hover_effect p{
	font-size: 13px;
	text-align: center;
}

#hover_effect h1{
	font-size: 48px;
	text-align: center;
}

nav ul {
	color: #369;
	list-style-type: none;
	position: relative;
	right: 5%;
	float: right;
}

nav ul li {
	display: inline-block;
	margin: 25px 12px;
}

nav ul li:nth-child(5) {
	color: #18afe0;
} 

.product_box {
	border: 1px solid #e8e8e8e;
	border-radius: 5px;
	width: 180px;
	height: 235px;
	background: linear-gradient(#fff, #efefef);
	text-align: center;
	box-shadow:         1px 1px 1px 1px #ccc;
	position: relative;
	display: block;
	margin-right: 35px;
}

.product_box a {
	font-size: 24px;
	position: relative;
	margin: 20px 0 10px 0;
	display: block;
	font-weight: bolder;
}

.product_box img {
	position: relative;
	top: 20px;
	display: block;
	margin: auto;
}

.product_box p {
	margin: 20px 0 10px 0;
	font-size: 15px;
}

.product_box p:first-of-type {
	color: #cc0000;
	font-weight: bold;
}

.product_container {
	-webkit-box-align:center;
	-webkit-box-pack:center;
	display:-webkit-box;
	margin-top: 30px;
	margin-bottom: 40px;
}

.products { 
	position: relative;
	top: 20px;
	width: 100%;
	clear: both;
	display: block;
	width: 800px;
	-webkit-box-align:center;
	-webkit-box-pack:center;
	margin-right: auto; margin-left: auto;
}

.products_main {
	word-wrap: break-word;
	-webkit-box-align:center;
	-webkit-box-pack:center;
	height: 180px;
	margin-right: auto; margin-left: auto; width:100%;
}

.products_main h1 {
	font-size: 58px;
	text-align: center;
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	line-height: 1.0em;
	letter-spacing: -2px;
}

.products_main p {
	font-size: 15px;
	text-align: center;
	position: relative;
	top: 20px;
	line-height: 180%;
}

span {
	color: #336699;
	text-decoration:underline;
}